<div class="clear"></div>
<div id='signup' class='col-md-12'>
  <div class="col-md-4 col-md-offset-4">
    <h2 class="sign-in-up-title fade-in-three-quarter-sec">Profile</h2>
    
    <form name="updateProfile" ng-submit='updateProfile()'>

      Username: <input type='text' name='username' placeholder='Username' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' ng-model='profile.username'>
      First Name:<input type='text' name='firstName' placeholder='First Name' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' ng-model='profile.first_name'>
      Last Name:<input type='text' name='lastName' placeholder='Last Name' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' ng-model='profile.last_name'>


<!--       <input type='text' name='username' placeholder='Username' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' ng-model='profile.username'>
      <input type='text' name='username' placeholder='Username' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' ng-model='profile.username'>
      <input type='text' name='username' placeholder='Username' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' ng-model='profile.username'> -->


    </form>


  </div>
</div>